body {
  font-size: 0;
  background-color: #d3d9e8;
}

body * {
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
}

div span {
  font-size: 1.25rem;
  color: green;
}

.container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
}


.calc-body > .row:first-child {
  width: 400px;
  position: relative;
  border: 6px solid gray;
}

.calc-body {
  display: inline-block;
  width: 400px;
  border: 6px solid gray;
  background-color: gray;
}

.secondary-body {
  display: inline-block;
  visibility: hidden;
  width: 200px;
  border: 6px solid gray;
  background-color: gray;
  z-index: 0;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}


.row {
  height: 100px;
  width: 100%;
}

.button:hover, .button2:hover {
  border-top: 4px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10%;
  filter: brightness(0.95);
}

.button, .button2 {
  width: 25%;
  height: 100%;
  text-align: center;
  border: 2px solid gray;
  color: #737070;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: bottom;;
  padding-top: 7%;
  cursor: pointer;
}

.button2 {
  width: 50%;
}

.history-container {
  display: inline-block;
  visibility: hidden;
  width: 200px;
  border: 6px solid gray;
  background-color: gray;
  z-index: 0;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
  vertical-align: bottom;
}

.h-row {
  height: 50px;
  width: 100%;
  font-size: 1rem;
}

.h-row:nth-child(odd){
  background-color: #ace7ff;
}

.h-row:nth-child(even){
  background-color: #b7f8d5;
}

.title-row {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  color: skyblue;
}

.num {
    background-color: beige;
}

.op {
  background-color: #a9a9f0;
}

.calc {
  background-color: #a9f0b2;
}

.fun {
  background-color: #a8bff0;
}

.clr, .ext, .hst {
  background-color: #f0a9e7;
}

.flip, .dec {
  background-color: #f0eea9;
}

.display {
  width: 100%;
  height: 150px;
  background-color: #99e0f0;
  border: 6px solid gray;
  color: gray;
  font-size: 2rem;
  text-align: right;
  padding: 4%;
  font-family: 'Share Tech Mono', monospace;
  /*overflow: scroll;*/
}

.display::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.display::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.display::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
